.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: red;
  position: relative;
}

#board-content,
img {
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(10, 1fr);
  padding: 0.2rem;
  font-family: "8-bit-pusab";
  width: 400px;
  height: 400px;
  left: -200px;
  top: -270px;
}

/* Everything Together */
#board-content {
  justify-content: center;
  align-items: center;
  position: relative;
  left: 400px;
  top: -300px;
}

/* Board jpg */
#board-content img {
  position: absolute;
  border-radius: 50px;
  width: 610px;
  height: 600px;
  top: 250px;
  left: 20px;
  box-shadow: 0 0 30px rgb(0, 0, 0), 0 0 30px rgba(0, 0, 0, 1),
    inset 0 0 30px rgba(0, 0, 0, 1);
}

/* Square itself */
.square {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 55px;
  position: relative;
  top: 260px;
  left: 150px;
}

/* #player_1 {
  width: 10px;
  height: 10px;
  background-color: red;
  position: relative;
  background-image: url("/public/rat 1.png");
  z-index: 2;
} */

.main-container-board {
  background-image: url("/public/zohaib-ismail-3.jpeg");
  background-position: center;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear infinite alternate;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.diceButton,
.dice-square {
  width: 90px;
  height: 90px;
  background-color: transparent;
  border: transparent;
  position: relative;
  left: 600px;
  top: 200px;
}

.circle-blue {
  width: 100px;
  height: 100px;
  position: relative;
  left: 95px;
  top: -5px;
  border-radius: 50%;
  background-color: rgba(13, 13, 154, 0.832);
  box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px rgba(0, 0, 0, 1),
    inset 0 0 10px rgba(0, 0, 0, 1);
}

.circle-red {
  width: 100px;
  height: 100px;
  position: relative;
  left: -60px;
  top: 220px;
  border-radius: 50%;
  background-color: rgba(225, 18, 18, 0.852);
  box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px rgba(0, 0, 0, 1),
    inset 0 0 10px rgba(0, 0, 0, 1);
}

.active-player-panel {
  position: absolute;
  bottom: 125px;
  left: 50px;
  background-color: transparent;
  border-radius: 10px;
  width: 200px;
  height: 500px;
}

.active-player-panel .act-pnl-cont {
  position: relative;
  background-color: transparent;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}

.active-player-panel,
.active-player-panel {
  background: linear-gradient(to left, #ffff99 0%, #66ffff 100%);
  box-shadow: 0 0 2px rgb(0, 0, 0), 0 0 10px rgb(4, 3, 3),
    inset 0 0 5px rgb(16, 14, 6);
  border-radius: 10px;
}

@keyframes animate {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
  }
}

.active-player-panel img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.stuart-p1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  top: 230px;
  left: -100px;
}

.remy-p2 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  top: -5px;
  left: 45px;
}

.active-player-panel p {
  display: flex;
  justify-content: center;
  top: 100px;
  left: -5px;
  position: relative;
}

.active-player-panel .p2 {
  display: flex;
  justify-content: center;
  top: 10px;
  left: 10px;
  position: relative;
}

#player_1 {
  height: 6.25rem;
  width: 6.25rem;
  background-size: 50%;
  position: relative;
  left: -25px;
  margin-right: 2rem;
  background-image: url("/public/rat 1.png");
  z-index: 2;
  background-repeat: no-repeat;
  -webkit-animation: bounce-top 1.1s both;
  animation: bounce-top 1.1s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

#player_2 {
  height: 6.25rem;
  width: 6.25rem;
  background-size: 50%;
  position: relative;
  left: -25px;
  margin-right: 2rem;
  background-image: url("/public/rat 2.png");
  z-index: 2;
  padding: 3rem;
  background-repeat: no-repeat;
  -webkit-animation: bounce-top 1.1s both;
  animation: bounce-top 1.1s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
