#board {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-template-rows: repeat(10, 80px);
  width: 800px;
  height: 800px;
  background-color: cyan;

}

.tile {
  height: 80px;
  width: 80px;

}