.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: blue;
  width: 100vw;
}

h2 {
  height: 65vh; 
  margin-right: 50px;
  font-family: '8-bit-pusab';

}



#board {
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(10, 1fr);
  padding: 0.2rem;
  width: 100%
}



.square {
  background-color: #e09850;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

.diceContainer {
  display: flex;
  width: 500px;
  height: 400px;
  background-color: transparent;
  padding: 2rem 1rem;
} 

.dice-square {
  width: 100px;
  height: 100px;
  background-color: transparent;
 
}

.diceButton {
  background-color: #00bfff;
  font-family: '8-bit-pusab';
  font-size: 20px;
}

